body{ 
  font-family: arial;
}

.logo{ 
  margin: 20px auto;
  width:450px;
}
.instructions{ 
  margin: 25px auto;
  width:450px;
  color:#666;
}
.instructions h1{
  font-weight:normal;
  font-size:36px;
  color:#333;
}  
.instructions h3{
  color:#333;
}
.instructions p{ 
  text-align:justify;
  margin-top:35px;
}
.instructions blockquote{
  font-family:courier;
  font-size:12px;
  font-weight:bold;
  background:#eee;
  width:450px;
  padding:15px;
  border:solid 1px #ccc;
  margin-left:5px;
  clear:both;
  margin-top:85px;
}
